<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Application VoltMusique</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" integrity="sha512-F5QTlBqZlvuBEs9LQPqc1iZv2UMxcVXezbHzomzS6Df4MZMClge/8+gXrKw2fl5ysdk4rWjR0vKS7NNkfymaBQ==" crossorigin="anonymous"></script>
    </head>
    <body>
        <section class="section has-background-warning-light">
            <div class="container">
                <div style="text-align: center;">
                    <img width="200" src="https://i.ibb.co/nzhFgwb/voltlogo1-1.png" alt="voltlogo1-1" border="0">
                </div>
                <h1 class="title is-1">
                    VoltMusique
                </h1>
                <p class="subtitle">
                    La <b>Volt</b> vous présente son application de streaming.
                </p>
                <h2 class="title is-3">
                    Une nouvelle façon de donner de la visibilité aux artistes de l'Université
                </h2>
                <p>
                    Nous sommes partis du constat qu'il est aujourd'hui assez compliqué de se démarquer sur les plateformes 
                    de streaming les plus connues, c'est pourquoi, afin de donner de la visibilité aux étudiants faisant de la musique 
                    et permettre aux autres de les écouter, nous sommes partis du constat qu'il fallait développer une application 
                    qui permettre l'échange de culture au sein de l'Université.
                </p>
                <h1 class="title is-3">
                    Une application mobile fiable et sécurisée
                </h1>
                <p>
                    Afin de développer cette application, nous avons fait appel aux <b>meilleurs</b> développeurs de la MIAGE 
                    de Nanterre. L'application sera compatible avec un large choix de smartphones <b>Android</b>. Il sera également 
                    possible d'écouter sa musique hors ligne, de partager des musiques de l'application sur internet, 
                    mais également de <b>supporter vos artistes préférés</b> à travers un système de like.
                </p>
                <h2 class="title is-3">
                    Gratuite et disponible prochainement
                </h2>
                <p>
                    Nous prévoyons le déploiement de l'application Android <span class="icon"><i class="fab fa-android"></i></span> 
                    pour fin janvier au plus tôt sur le store. Elle sera dans un premier temps en phase de Beta-Testing pour 
                    quelques étudiants, afin de faire des ajustements et récolter des données de satisfaction. 
                    Elle sera ensuite plus largement distribuée à tous les étudiants de l'Université de Nanterre.
                </p>

                <h2 class="title is-3">
                    Fonctionnalités
                </h2>
                <ul>
                    <li>Réalisation des vues d’accueil, profil, affichage de la liste des musiques et albums associées.</li>
                    <li>Mise en place de L’api.</li>
                    <li>Connexion avec L’api.</li>
                    <li>Lecture des musiques en local.</li>
                    <li>L'implémentation des  threads.</li>
                </ul>

            </div>
            <div style="text-align: center;" class="mt-5">
                <a href="/home/download"><button class="button is-large is-danger">Télécharger</button></a>
            </div>
        </section>
    </body>
</html>